@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
  font-family: 'Josefin Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}