@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


:root {
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Dosis', arial, sans-serif; */
  font-family: 'Mulish', sans-serif;
  letter-spacing: 0.1em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}